%div#chatroom_container.row.bg-dark.text-light
    %div#side_panel.col-md-4.col-sm-4

        %h5
            = current_user.email

        %h4 Users
        = turbo_stream_from "users"

        %div#users
            = render @users

        %h4 Channels
        = render 'channels/new_channel_form'
        = turbo_stream_from "channels"

        %div#channels
            = render @channels
    
    %div#channel_container.col-md-8.col-sm-8.bg-dark.text-light
        - if @single_channel
            %div#single_channel
            %h4.text-center
                = @user&.email || @single_channel.name
                = turbo_stream_from @single_channel
                %div#messages
                    = render @messages
                = render 'messages/new_message_form'