<h2 class="text-left fw-bolder" style='margin-bottom: 20px;' >Sign Up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class='d-flex mb-2'>
    <div class="form-group" style='margin-right: 5px;'>
      <%= f.text_field :first_name, autocomplete: "off", class: 'form-control', placeholder: "First name", required: true %>
    </div>
    <div class="form-group">
      <%= f.text_field :last_name, autocomplete: "off", class: 'form-control', placeholder: "Last name", required: true %>
    </div>
  </div>
  <div class="form-group mb-1">
    <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Email", required: true %>
  </div>
  <div class="form-group">
    <%= f.telephone_field :mobile_number, autocomplete: "off", class: 'form-control', pattern:"[0-9]*", placeholder: "Mobile number", minlength: 11, maxlength: 11, required: true %>
  </div>
  <div class="form-group mb-2">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password", required: true %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Password confirmation", required: true %>
  </div>
  <div class="form-group my-2">
    <%= f.label :sex, "Gender", class: "fw-bold", style: "margin-right: 5px;" %>:
    <%= f.radio_button :sex, "male" %>
    <%= f.label :female, "Male", style: "margin-right: 5px;" %>
    <%= f.radio_button :sex, 'female' %>
    <%= f.label :male, "Female" %>
  </div>
  <div class="form-group mb-2">
    <%= f.label :birthdate %>
    <%= f.date_field :birthdate, class: 'form-control', max:"2004-01-01", min:"1922-01-01" , required: true %>
  </div>
  <div class="form-group mb-3">
    <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
  </div>
<% end %>
<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
