<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1 class="text-center">Sign Up</h1>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autocomplete: "off", class: 'form-control', placeholder: "Juan", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autocomplete: "off", class: 'form-control', placeholder: "Cameron", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :mobile_number %><br />
        <%= f.telephone_field :mobile_number, autocomplete: "off", class: 'form-control', pattern:"[0-9]*", placeholder: "09xxxxxxxxx", minlength: 11, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :sex %><br />
        <%= f.radio_button :sex, "male" %>
        <%= f.label :female, "Male" %><br />
        <%= f.radio_button :sex, 'female' %>
        <%= f.label :male, "Female" %><br />
      </div>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: "cameronjuan@email.com", required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
