%div.comment{id:"post_#{comment.post.id}_comment_#{comment.id}"}
    %p= comment.user.first_name
    %p= comment.body
    = button_to "Delete Comment", breed_post_comment_path(comment.post.breed.id, comment.post.id, comment.id), method: :delete
    = render "comments/edit_comment_modal", comment: comment