%button.btn.btn-primary{"data-bs-target" => "#dogDetails#{breed.id}", "data-bs-toggle" => "modal", :type => "button"}
    Dog Details

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "dogDetails#{breed.id}Label", :tabindex => "-1", "id" => "dogDetails#{breed.id}"}
    .modal-dialog
        .modal-content
            .modal-header
                %h5.modal-title{id: "dogDetails#{breed.id}Label"}
                    =breed.name                             
                %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
            .modal-body
                %div
                    %p= breed.bred_for
                    %p= breed.facts
                    %p= breed.temperament
            .modal-footer
                %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Cancel