.d-flex.flex-column.mt-5.container.align-items-start
    = link_to( view_profile_path(current_user), class: "text-decoration-none text-secondary btn h6 m-0") do
        .d-flex.align-items-center
            = image_tag(current_user.image_url, class:'chat_pfp')
            = "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"
    = link_to( channels_path, class: 'text-decoration-none text-secondary btn h6 m-0') do
        .d-flex.align-items-center
            %i.fa-solid.fa-envelope{style: 'margin-right: 5px;'}
            Messages
    = link_to( view_friends_path, class: 'text-decoration-none text-secondary btn h6 m-0') do
        .d-flex.align-items-center
            %i.fa-solid.fa-user-group{style: 'margin-right: 5px;'}
            Friends
    .container
        %h6.mt-2.mb-2 Groups
        .container.d-flex.flex-column.align-items-start.mb-1.text-secondary.mt-2
            - current_user.user_preferences.each do |dog|
                = link_to( breed_posts_path(Breed.find_by(name: dog).id), class: 'text-decoration-none text-secondary btn h6 m-0') do
                    .d-flex.align-items-center
                        %i.fa-solid.fa-dog.me-1
                        = dog
