%div.container-fluid.px-5.mb-5
    %div.card.bg-dark.text-light
        =image_tag 'dog_background_image.jpg', class: 'card-img-top'
        %div.card-header
            %h4= "#{@profile.first_name} #{@profile.last_name}"
            %p.card-subtitle.mb-2.text-muted 
                %span= @user_preferences.count
                %span preferences 
            %p  
                - @user_preferences.each do |breed|
                    %span.badge.rounded-pill.bg-primary= breed.name
        %div.card-body
            - unless (@profile.id == current_user.id)
                - if @request.nil?
                    = link_to('Add friend', add_friend_path(@profile.id), class: "btn btn-success btn-sm my-2")
                - elsif (@request.is_approver?) && !(@request.is_friends?)
                    %div.d-flex
                        = button_to('Accept', accept_path(@profile.id), class: 'btn btn-sm btn-success my-2', style: "margin-right: 10px")
                        = button_to("Decline", decline_path(@profile.id), class: 'btn btn-sm btn-danger my-2')
                - elsif @request.is_friends?
                    %div.my-2.text-success.fw-bold
                        %i.fa-solid.fa-check
                        %span Friends
                - else
                    %button.btn.btn-sm.disabled.btn-success.my-2 Request sent
            %h6.card-text= "Email: #{@profile.email}"
            %h6.card-text= "Birthdate: #{@profile.birthdate.strftime('%B %m, %Y')}"
            %h6.card-text= "Gender: #{@profile.sex}"
            = link_to('Go back', dashboard_path, class: "btn btn-primary mt-2")

    