.container-fluid.mt-2
    - if pending_request().count > 0
        .container
            %h4 Friend Request
            %ul.list-group{style: "max-width: 500px;"}
                - pending_friends().each do |user|
                    %li.list-group-item.list-group-item-primary.d-flex.align-items-center.justify-content-between
                        %span.d-flex.align-items-center
                            = image_tag 'user.png', style: "max-width: 40px;"
                            %h5{style: "margin: 0 0 0 10px"}= "#{user.first_name} #{user.last_name}"
                        %span.d-flex.align-items-center
                            = button_to("Accept", accept_path(user.id), class:"btn btn-success btn-sm", style: "margin-right: 5px;") 
                            = button_to("Decline", decline_path(user.id), class: "btn btn-danger btn-sm" )
    .container.my-3
        %nav.navbar
            %h3 Friends
            = form_with url: view_friends_post_path, method: :post, class: "form-inline d-flex" do |f|
                = f.text_field :username, placeholder: "Search friend", oninput: "this.form.requestSubmit()" , class: "form-control mr-sm-2"
    %div.container.my-3{id: "search_friends_results"}

    .container
        %ul.list-group
            - @friends.each do |friend|
                %li.list-group-item.list-group-item-success.d-flex.align-items-center.justify-content-between
                    %span.d-flex.align-items-center
                        = image_tag 'user.png', style: "max-width: 40px;"
                        %h5{style: "margin: 0 0 0 10px;"}= "#{friend.first_name} #{friend.last_name}"
                    %span.d-flex.align-items-center
                        = link_to('view profile', view_profile_path(friend))

    
