%div.container-fluid.px-5.mb-5
    %div.card.bg-dark.text-light
        =image_tag 'dog_background_image.jpg', class: 'card-img-top'
        %div.card-header
            %div.d-flex.align-items-center.justify-content-between
                %h4= "#{@profile.first_name.capitalize} #{@profile.last_name.capitalize}"
                - if current_user.id == params[:id].to_i || !(@friend.nil?)
                    = render 'modals/user_modal', id: (params[:id].to_i), profile: @profile, friend: @friend
            %p.card-subtitle.mb-2.text-muted 
                %span= @user_preferences.count
                %span preferences 
            %p  
                - @user_preferences.each do |breed|
                    %span.badge.rounded-pill.bg-primary= breed.name
        %div.card-body
            = render 'friends/request', profile: @profile, request: @request
            %h6.card-text= "Email: #{@profile.email}"
            %h6.card-text= "Birthdate: #{@profile.birthdate.strftime('%B %m, %Y')}"
            %h6.card-text= "Gender: #{@profile.sex}"

    