.card.m-2{id:"post_#{post.id}", class:"post shadow p-3 mb-5 bg-white rounded"}
    .card-body
        .d-flex.justify-content-between
            .d-flex
                .d-flex.flex-column
                    = image_tag(post.user.image_url, class:'chat_pfp')
                .d-flex.flex-column
                    %h5.card-title.d-flex.justify-content-between
                        = complete_name(post.user)
                    %p.time
                        = time_ago_in_words(post.created_at)   
                        ago 
            .d-flex.flex-column.align-items-end
                %h6.card-subtitle.mb-2.text-muted.fs-6
                    = post.breed.name
                - if @user == post.user.id
                    = render 'posts/edit_post_modal', post: post                         
        
        %p.card-text.fs-4 #{post.body}
        %hr.my-1
        %ul.list-group.list-group-flush                       
            %li.list-group-item
                .d-flex.flex-row.justify-content-around
                    %p.my-0
                        = "#{post.likes} Likes"
                    = render 'comments/comment_count', post: post
        %hr.my-1.mb-4
        %div{id: "post_#{post.id}_comments"}
            = render post.comments, post: post
        = render 'comments/new_comment_form', post: post