.card{id:"post_#{post.id}", class:"post"}
    .card-body
        %h5.card-title.d-flex.justify-content-between
            = complete_name(post.user)
            - if @user == post.user.id
                = render 'posts/edit_post_modal', post: post             
        %h6.card-subtitle.mb-2.text-muted.fs-6
            = "#{post.breed.name} Community"
        %p.card-text.fs-4 #{post.body}
        
        %ul.list-group.list-group-flush                
            %li.list-group-item
                .d-flex.flex-row.justify-content-around
                    %p.my-0
                        = "#{post.likes} Likes"
                    = render 'comments/comment_count', post: post
        %div{id: "post_#{post.id}_comments"}
            = render post.comments, post: post
        = render 'comments/new_comment_form', post: post