= javascript_tag 

%nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow.px-5
    .container-fluid
        %a.navbar-brand{:href => "#"}
            = image_tag 'foot-print.png', alt: 'foot-print', width: '30px', class: 'd-inline-block align-text-top'
            Woofie
        = render 'modals/search_user_modal'
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            .navbar-nav.mx-auto.mb-2.mb-lg-0
                .nav-item
                    = link_to('Home', root_path, class: "nav-link text-primary", id: 'home_header')
                .nav-item
                    = link_to('Dog Community', breeds_path, class: "nav-link text-primary")
                .nav-item
                    = link_to('Friends', view_friends_path, class: "nav-link text-primary", id: 'friends_header')
                - if current_user.admin?
                    .nav-item 
                        = link_to('Users', users_path, class: "nav-link text-primary")
                        
            %div{style: 'margin-right: 5px;'}
                = link_to( channels_path, class: "btn btn-info btn-sm text-light") do
                    %i.fa-solid.fa-envelope
                    Messages

            - if pending_request().count > 0
                %div.my-1{style: "margin-right: 5px;"}
                    = render 'modals/pending_modal'
            %div
                = render 'modals/user_profile_modal'
                -# .nav-item
                -#     = link_to('Messages', channels_path, class: "nav-link")
