%nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
        %a.navbar-brand{:href => "#"} Logo
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            .navbar-nav.me-auto.mb-2.mb-lg-0
                .nav-item
                    = link_to('Home', dashboard_path, class: "nav-link")
                .nav-item
                    = link_to('Profile', view_profile_path(current_user), class: "nav-link")
                .nav-item
                    = link_to('Messages', channels_path, class: "nav-link")
                .nav-item
                    = link_to('Search', friends_path, class: "nav-link")
            .d-flex
                = button_to('Log out', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary my-2 my-sm-0")